body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .cart-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .cart-items {
    margin-top: 20px;
  }
  
  .cart-item {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  
  .cart-item img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  .price {
    font-weight: bold;
  }
  
  .remove-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .remove-btn:hover {
    background-color: #c82333;
  }
  
  .cart-summary {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }
  
  .total-price {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }


  
  .checkout-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }
  
  .checkout-btn:hover {
    background-color: #0056b3;
  }
  

.clear-cart-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  width: 100%;
}

.clear-cart-btn:hover {
  background-color: #c82333;
}
